USE [master]
GO
/****** Object:  Database [ATSystemDB]    Script Date: 4/15/2017 4:00:06 PM ******/
CREATE DATABASE [ATSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ATSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ATSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATSystemDB]
GO
USE [ATSystemDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetLocations]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortName] [nvarchar](max) NOT NULL,
	[BranchId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AssetLocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetRegistrationDetails]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetRegistrationDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AssetId] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[SerialNo] [nvarchar](max) NULL,
	[RegistrationNo] [nvarchar](max) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[AssetRegistration_Id] [int] NULL,
	[AssetName] [nvarchar](max) NULL,
	[OrganizationName] [nvarchar](max) NULL,
	[BranchName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AssetRegistrationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetRegistrations]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetRegistrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationDate] [nvarchar](max) NOT NULL,
	[RegisteredBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AssetRegistrations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[CodeWithPrefix] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[SerialNo] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[BrandId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Assets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortName] [nvarchar](max) NOT NULL,
	[LocationName] [nvarchar](max) NOT NULL,
	[OrganizationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[GeneralCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralCategories]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_dbo.GeneralCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistories]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Ip] [nvarchar](max) NULL,
	[Time] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.LoginHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginUsers]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.LoginUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movements]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationDate] [nvarchar](max) NULL,
	[AssetId] [int] NOT NULL,
	[OrganizationName] [nvarchar](max) NULL,
	[BranchName] [nvarchar](max) NULL,
	[MoveToOrganization] [int] NOT NULL,
	[MoveToBranch] [int] NOT NULL,
	[MoveBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Movements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortName] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](3) NOT NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Organizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[BrandId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/15/2017 4:00:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NOT NULL,
	[Designation] [nvarchar](max) NOT NULL,
	[PhoneNo] [nvarchar](max) NOT NULL,
	[Approve] [bit] NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssetRegistrationDetails] ON 

INSERT [dbo].[AssetRegistrationDetails] ([Id], [AssetId], [Code], [SerialNo], [RegistrationNo], [OrganizationId], [BranchId], [AssetRegistration_Id], [AssetName], [OrganizationName], [BranchName]) VALUES (26, 3, N'MON', N'M-101', N'Mon-101', 2, 2, 25, NULL, NULL, NULL)
INSERT [dbo].[AssetRegistrationDetails] ([Id], [AssetId], [Code], [SerialNo], [RegistrationNo], [OrganizationId], [BranchId], [AssetRegistration_Id], [AssetName], [OrganizationName], [BranchName]) VALUES (27, 4, N'PCC', N'q', N'PC-101', 1, 1, 26, NULL, NULL, NULL)
INSERT [dbo].[AssetRegistrationDetails] ([Id], [AssetId], [Code], [SerialNo], [RegistrationNo], [OrganizationId], [BranchId], [AssetRegistration_Id], [AssetName], [OrganizationName], [BranchName]) VALUES (30, 2, N'SC-101', N'00102', N'SC-101', 1, 1, 28, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AssetRegistrationDetails] OFF
SET IDENTITY_INSERT [dbo].[AssetRegistrations] ON 

INSERT [dbo].[AssetRegistrations] ([Id], [RegistrationDate], [RegisteredBy]) VALUES (11, N'4/12/2017', N'osanshaon')
INSERT [dbo].[AssetRegistrations] ([Id], [RegistrationDate], [RegisteredBy]) VALUES (12, N'4/12/2017', N'osanshaon')
INSERT [dbo].[AssetRegistrations] ([Id], [RegistrationDate], [RegisteredBy]) VALUES (13, N'4/12/2017', N'osanshaon')
SET IDENTITY_INSERT [dbo].[AssetRegistrations] OFF
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([Id], [Name], [Code], [CodeWithPrefix], [Price], [SerialNo], [Description], [BrandId]) VALUES (1, N'Rolling Chair', N'CH-101', NULL, 3500, N'00101', N'rs', 1)
INSERT [dbo].[Assets] ([Id], [Name], [Code], [CodeWithPrefix], [Price], [SerialNo], [Description], [BrandId]) VALUES (2, N'Spring Chair', N'SC-101', NULL, 3000, N'00102', N'Ds', 1)
INSERT [dbo].[Assets] ([Id], [Name], [Code], [CodeWithPrefix], [Price], [SerialNo], [Description], [BrandId]) VALUES (3, N'Monitor', N'MON', NULL, 6500, N'M-101', N'Description
', 2)
SET IDENTITY_INSERT [dbo].[Assets] OFF
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [Name], [ShortName], [LocationName], [OrganizationId]) VALUES (1, N'Parmanent Campus', N'PCM', N'Shialbarimor', 1)
INSERT [dbo].[Branches] ([Id], [Name], [ShortName], [LocationName], [OrganizationId]) VALUES (2, N'Jatrabari', N'JBR', N'Jatarabri,Dhaka', 2)
SET IDENTITY_INSERT [dbo].[Branches] OFF
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [Code], [Description], [CategoryId]) VALUES (1, N'Chair', N'CH', N'd', 1)
INSERT [dbo].[Brands] ([Id], [Name], [Code], [Description], [CategoryId]) VALUES (2, N'HP', N'HP', N'Despcription', 2)
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Code], [Description], [GeneralCategoryId]) VALUES (1, N'Furniture', N'FR', N'D', 1)
INSERT [dbo].[Categories] ([Id], [Name], [Code], [Description], [GeneralCategoryId]) VALUES (2, N'Computer', N'Cmp', N'Des', 2)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[GeneralCategories] ON 

INSERT [dbo].[GeneralCategories] ([Id], [Name], [Code]) VALUES (1, N'Accessories', N'AC')
INSERT [dbo].[GeneralCategories] ([Id], [Name], [Code]) VALUES (2, N'Equipment', N'EQ')
SET IDENTITY_INSERT [dbo].[GeneralCategories] OFF
SET IDENTITY_INSERT [dbo].[LoginHistories] ON 

INSERT [dbo].[LoginHistories] ([Id], [UserName], [Ip], [Time]) VALUES (1, N'admin', N'::1', CAST(N'2017-04-11T01:57:22.937' AS DateTime))
INSERT [dbo].[LoginHistories] ([Id], [UserName], [Ip], [Time]) VALUES (2, N'osanshaon', N'::1', CAST(N'2017-04-11T01:59:40.213' AS DateTime))
INSERT [dbo].[LoginHistories] ([Id], [UserName], [Ip], [Time]) VALUES (3, N'osanshaon', N'::1', CAST(N'2017-04-11T02:16:11.137' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LoginHistories] OFF
SET IDENTITY_INSERT [dbo].[Movements] ON 

INSERT [dbo].[Movements] ([Id], [RegistrationDate], [AssetId], [OrganizationName], [BranchName], [MoveToOrganization], [MoveToBranch], [MoveBy]) VALUES (11, N'4/14/2017', 3, N'Bangladesh University of Business and Technology', N'Parmanent Campus', 2, 2, N'osanshaon')
INSERT [dbo].[Movements] ([Id], [RegistrationDate], [AssetId], [OrganizationName], [BranchName], [MoveToOrganization], [MoveToBranch], [MoveBy]) VALUES (12, N'4/14/2017', 4, N'Brack Bank', N'Jatrabari', 1, 1, N'osanshaon')
INSERT [dbo].[Movements] ([Id], [RegistrationDate], [AssetId], [OrganizationName], [BranchName], [MoveToOrganization], [MoveToBranch], [MoveBy]) VALUES (13, N'4/14/2017', 1, N'Bangladesh University of Business and Technology', N'Parmanent Campus', 2, 2, N'osanshaon')
SET IDENTITY_INSERT [dbo].[Movements] OFF
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([Id], [Name], [ShortName], [Code], [Location]) VALUES (1, N'Bangladesh University of Business and Technology', N'BUBT', N'BUB', N'Dhaka')
INSERT [dbo].[Organizations] ([Id], [Name], [ShortName], [Code], [Location]) VALUES (2, N'Brack Bank', N'BBNK', N'BBK', N'Dhaka')
SET IDENTITY_INSERT [dbo].[Organizations] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Gender], [Email], [UserName], [Password], [ConfirmPassword], [Designation], [PhoneNo], [Approve], [OrganizationId], [Image]) VALUES (2, N'Main Admin', N'Male', N'admin@gmail.com', N'admin', N'12345678', N'12345678', N'Admin', N'01', 1, 0, NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Gender], [Email], [UserName], [Password], [ConfirmPassword], [Designation], [PhoneNo], [Approve], [OrganizationId], [Image]) VALUES (3, N'Osan Shaon', N'Male', N'osanshaon@gmail.com', N'osanshaon', N'12345678', N'12345678', N'Organization Owner', N'01673106468', 0, 1, N'979143865.jpg')
INSERT [dbo].[Users] ([Id], [FullName], [Gender], [Email], [UserName], [Password], [ConfirmPassword], [Designation], [PhoneNo], [Approve], [OrganizationId], [Image]) VALUES (4, N'Rasel Shikder', N'Male', N'rasel@gmail.com', N'rasel', N'12345678', N'12345678', N'Organization Owner', N'0155241458', 0, 2, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_BranchId]    Script Date: 4/15/2017 4:00:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[AssetLocations]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetRegistration_Id]    Script Date: 4/15/2017 4:00:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetRegistration_Id] ON [dbo].[AssetRegistrationDetails]
(
	[AssetRegistration_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrandId]    Script Date: 4/15/2017 4:00:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_BrandId] ON [dbo].[Assets]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrganizationId]    Script Date: 4/15/2017 4:00:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationId] ON [dbo].[Branches]
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 4/15/2017 4:00:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Brands]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GeneralCategoryId]    Script Date: 4/15/2017 4:00:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_GeneralCategoryId] ON [dbo].[Categories]
(
	[GeneralCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrandId]    Script Date: 4/15/2017 4:00:07 PM ******/
CREATE NONCLUSTERED INDEX [IX_BrandId] ON [dbo].[ProductCategories]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssetLocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssetLocations_dbo.Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetLocations] CHECK CONSTRAINT [FK_dbo.AssetLocations_dbo.Branches_BranchId]
GO
ALTER TABLE [dbo].[AssetRegistrationDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssetRegistrationDetails_dbo.AssetRegistrations_AssetRegistration_Id] FOREIGN KEY([AssetRegistration_Id])
REFERENCES [dbo].[AssetRegistrations] ([Id])
GO
ALTER TABLE [dbo].[AssetRegistrationDetails] CHECK CONSTRAINT [FK_dbo.AssetRegistrationDetails_dbo.AssetRegistrations_AssetRegistration_Id]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Assets_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_dbo.Assets_dbo.Brands_BrandId]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Branches_dbo.Organizations_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_dbo.Branches_dbo.Organizations_OrganizationId]
GO
ALTER TABLE [dbo].[Brands]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Brands_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Brands] CHECK CONSTRAINT [FK_dbo.Brands_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.GeneralCategories_GeneralCategoryId] FOREIGN KEY([GeneralCategoryId])
REFERENCES [dbo].[GeneralCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.GeneralCategories_GeneralCategoryId]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategories_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_dbo.ProductCategories_dbo.Brands_BrandId]
GO
USE [master]
GO
