USE [master]
GO
/****** Object:  Database [ATSystemDB]    Script Date: 23-Feb-18 8:50:33 PM ******/
CREATE DATABASE [ATSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ATSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ATSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATSystemDB]
GO
USE [ATSystemDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23-Feb-18 8:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetLocations]    Script Date: 23-Feb-18 8:50:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortName] [nvarchar](max) NOT NULL,
	[BranchId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AssetLocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetRegistrationDetails]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetRegistrationDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AssetId] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[SerialNo] [nvarchar](max) NULL,
	[RegistrationNo] [nvarchar](max) NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
	[AssetRegistration_Id] [int] NULL,
	[AssetName] [nvarchar](max) NULL,
	[OrganizationName] [nvarchar](max) NULL,
	[BranchName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AssetRegistrationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetRegistrations]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetRegistrations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationDate] [nvarchar](max) NOT NULL,
	[RegisteredBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AssetRegistrations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[CodeWithPrefix] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[SerialNo] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[BrandId] [int] NOT NULL,
	[Registered] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Assets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortName] [nvarchar](max) NOT NULL,
	[LocationName] [nvarchar](max) NOT NULL,
	[OrganizationId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Branches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[GeneralCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[OrganizationName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[MobileNo] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralCategories]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](2) NOT NULL,
 CONSTRAINT [PK_dbo.GeneralCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginHistories]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Ip] [nvarchar](max) NULL,
	[Time] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.LoginHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginUsers]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.LoginUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MessageFrom] [nvarchar](max) NULL,
	[MessageTo] [nvarchar](max) NOT NULL,
	[Date] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[Read] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovementPermisions]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovementPermisions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationDate] [nvarchar](max) NULL,
	[AssetId] [int] NOT NULL,
	[OrganizationName] [nvarchar](max) NULL,
	[BranchName] [nvarchar](max) NULL,
	[MoveToOrganization] [int] NOT NULL,
	[MoveToBranch] [int] NOT NULL,
	[MoveBy] [nvarchar](max) NULL,
	[Permision] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.MovementPermisions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movements]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationDate] [nvarchar](max) NULL,
	[AssetId] [int] NOT NULL,
	[OrganizationName] [nvarchar](max) NULL,
	[BranchName] [nvarchar](max) NULL,
	[MoveToOrganization] [int] NOT NULL,
	[MoveToBranch] [int] NOT NULL,
	[MoveBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Movements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewAssets]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewAssets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[CodeWithPrefix] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[SerialNo] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[BrandId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NewAssets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ShortName] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](3) NOT NULL,
	[Location] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Organizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductCategories]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[BrandId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProductCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23-Feb-18 8:50:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[ConfirmPassword] [nvarchar](max) NOT NULL,
	[Designation] [nvarchar](max) NOT NULL,
	[PhoneNo] [nvarchar](max) NOT NULL,
	[Approve] [bit] NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
	[AssetApprove] [bit] NOT NULL,
	[BranchId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssetRegistrationDetails] ON 

INSERT [dbo].[AssetRegistrationDetails] ([Id], [AssetId], [Code], [SerialNo], [RegistrationNo], [OrganizationId], [BranchId], [AssetRegistration_Id], [AssetName], [OrganizationName], [BranchName]) VALUES (31, 6, N'ETS001', N'001', N'1001', 3, 1003, 29, NULL, NULL, NULL)
INSERT [dbo].[AssetRegistrationDetails] ([Id], [AssetId], [Code], [SerialNo], [RegistrationNo], [OrganizationId], [BranchId], [AssetRegistration_Id], [AssetName], [OrganizationName], [BranchName]) VALUES (32, 11, N'ETV001', N'001', N'1002', 3, 1003, 30, NULL, NULL, NULL)
INSERT [dbo].[AssetRegistrationDetails] ([Id], [AssetId], [Code], [SerialNo], [RegistrationNo], [OrganizationId], [BranchId], [AssetRegistration_Id], [AssetName], [OrganizationName], [BranchName]) VALUES (33, 15, N'ETA002', N'001', N'1003', 3, 1003, 31, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AssetRegistrationDetails] OFF
SET IDENTITY_INSERT [dbo].[AssetRegistrations] ON 

INSERT [dbo].[AssetRegistrations] ([Id], [RegistrationDate], [RegisteredBy]) VALUES (29, N'23-Feb-18', NULL)
INSERT [dbo].[AssetRegistrations] ([Id], [RegistrationDate], [RegisteredBy]) VALUES (30, N'23-Feb-18', NULL)
INSERT [dbo].[AssetRegistrations] ([Id], [RegistrationDate], [RegisteredBy]) VALUES (31, N'23-Feb-18', NULL)
SET IDENTITY_INSERT [dbo].[AssetRegistrations] OFF
SET IDENTITY_INSERT [dbo].[Assets] ON 

INSERT [dbo].[Assets] ([Id], [Name], [Code], [CodeWithPrefix], [Price], [SerialNo], [Description], [BrandId], [Registered]) VALUES (6, N'SAMDSUNG', N'ETS001', NULL, 25000, N'001', N'The Adventures of Tintin is a series of 24 comic albums created by Belgian cartoonist Georges Remi, who wrote under the pen name Hergé. ', 6, 1)
INSERT [dbo].[Assets] ([Id], [Name], [Code], [CodeWithPrefix], [Price], [SerialNo], [Description], [BrandId], [Registered]) VALUES (7, N'Meeting Table', N'ARR001', NULL, 5000, N'001', N'The Adventures of Tintin is a series of 24 comic albums created by Belgian cartoonist Georges Remi, who wrote under the pen name Hergé. ', 10, 0)
INSERT [dbo].[Assets] ([Id], [Name], [Code], [CodeWithPrefix], [Price], [SerialNo], [Description], [BrandId], [Registered]) VALUES (8, N'Energy Light', N'EES001', NULL, 3000, N'001', N'The Adventures of Tintin is a series of 24 comic albums created by Belgian cartoonist Georges Remi, who wrote under the pen name Hergé. ', 23, 0)
SET IDENTITY_INSERT [dbo].[Assets] OFF
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([Id], [Name], [ShortName], [LocationName], [OrganizationId]) VALUES (1003, N'Mirpur-01', N'DVM01', N'Mirpur-01', 3)
INSERT [dbo].[Branches] ([Id], [Name], [ShortName], [LocationName], [OrganizationId]) VALUES (1005, N'Mirpur-02', N'DVM02', N'Mirpur-02', 3)
INSERT [dbo].[Branches] ([Id], [Name], [ShortName], [LocationName], [OrganizationId]) VALUES (1007, N'Mirpur-06', N'DVM04', N'Mirpur-06', 3)
SET IDENTITY_INSERT [dbo].[Branches] OFF
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([Id], [Name], [Code], [Description], [CategoryId]) VALUES (4, N'LG', N'LG01', NULL, 1010)
INSERT [dbo].[Brands] ([Id], [Name], [Code], [Description], [CategoryId]) VALUES (5, N'Singer', N'ERS01', NULL, 1010)
INSERT [dbo].[Brands] ([Id], [Name], [Code], [Description], [CategoryId]) VALUES (6, N'Samsung', N'SAM01', NULL, 1008)
SET IDENTITY_INSERT [dbo].[Brands] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [Code], [Description], [GeneralCategoryId]) VALUES (1004, N'Fan', N'EF01', NULL, 1004)
INSERT [dbo].[Categories] ([Id], [Name], [Code], [Description], [GeneralCategoryId]) VALUES (1006, N'Energy Light', N'EEL02', NULL, 1006)
INSERT [dbo].[Categories] ([Id], [Name], [Code], [Description], [GeneralCategoryId]) VALUES (1007, N'Multi Pluge', N'EMP01', NULL, 1006)
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[GeneralCategories] ON 

INSERT [dbo].[GeneralCategories] ([Id], [Name], [Code]) VALUES (1004, N'Equipments', N'EQ')
INSERT [dbo].[GeneralCategories] ([Id], [Name], [Code]) VALUES (1005, N'Library', N'LB')
INSERT [dbo].[GeneralCategories] ([Id], [Name], [Code]) VALUES (1006, N'Electronics', N'EC')
SET IDENTITY_INSERT [dbo].[GeneralCategories] OFF
SET IDENTITY_INSERT [dbo].[LoginHistories] ON 

INSERT [dbo].[LoginHistories] ([Id], [UserName], [Ip], [Time]) VALUES (1239, N'admin', N'::1', N'23-Feb-18 5:49:54 PM')
INSERT [dbo].[LoginHistories] ([Id], [UserName], [Ip], [Time]) VALUES (1240, N'tondra', N'::1', N'23-Feb-18 6:12:13 PM')
INSERT [dbo].[LoginHistories] ([Id], [UserName], [Ip], [Time]) VALUES (1241, N'admin', N'::1', N'23-Feb-18 6:14:29 PM')
SET IDENTITY_INSERT [dbo].[LoginHistories] OFF
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([Id], [MessageFrom], [MessageTo], [Date], [Title], [Details], [Read]) VALUES (1, N'rubel', N'tondra', N'23-Feb-18 8:39:23 PM', N'REquest', N'samsung mal shift from ur branch to mirpur01 :)', 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
SET IDENTITY_INSERT [dbo].[Organizations] ON 

INSERT [dbo].[Organizations] ([Id], [Name], [ShortName], [Code], [Location]) VALUES (2, N'Brack Bank', N'BBNK', N'BBK', N'Dhaka')
INSERT [dbo].[Organizations] ([Id], [Name], [ShortName], [Code], [Location]) VALUES (3, N'Digital Vision BD', N'DVB', N'DB2', N'Dhaka')
INSERT [dbo].[Organizations] ([Id], [Name], [ShortName], [Code], [Location]) VALUES (1003, N'Bangladesh University of Business & Technology', N'BUBT', N'BU2', N'Mirpur-02')
SET IDENTITY_INSERT [dbo].[Organizations] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Gender], [Email], [UserName], [Password], [ConfirmPassword], [Designation], [PhoneNo], [Approve], [OrganizationId], [Image], [AssetApprove], [BranchId]) VALUES (2, N'Main Admin', N'Male', N'admin@gmail.com', N'admin', N'12345678', N'12345678', N'Admin', N'01', 1, 0, NULL, 0, 0)
INSERT [dbo].[Users] ([Id], [FullName], [Gender], [Email], [UserName], [Password], [ConfirmPassword], [Designation], [PhoneNo], [Approve], [OrganizationId], [Image], [AssetApprove], [BranchId]) VALUES (4, N'Rasel Shikder', N'Male', N'rasel@gmail.com', N'rasel', N'12345678', N'12345678', N'Organization Owner', N'0155241458', 0, 2, NULL, 0, 0)
INSERT [dbo].[Users] ([Id], [FullName], [Gender], [Email], [UserName], [Password], [ConfirmPassword], [Designation], [PhoneNo], [Approve], [OrganizationId], [Image], [AssetApprove], [BranchId]) VALUES (8, N'Rubel', N'Male', N'rube@gmail.com', N'rubel', N'12345678', N'12345678', N'Organization Owner', N'01562345688', 1, 3, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_BranchId]    Script Date: 23-Feb-18 8:50:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[AssetLocations]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssetRegistration_Id]    Script Date: 23-Feb-18 8:50:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_AssetRegistration_Id] ON [dbo].[AssetRegistrationDetails]
(
	[AssetRegistration_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrandId]    Script Date: 23-Feb-18 8:50:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_BrandId] ON [dbo].[Assets]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrganizationId]    Script Date: 23-Feb-18 8:50:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrganizationId] ON [dbo].[Branches]
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 23-Feb-18 8:50:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Brands]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GeneralCategoryId]    Script Date: 23-Feb-18 8:50:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_GeneralCategoryId] ON [dbo].[Categories]
(
	[GeneralCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrandId]    Script Date: 23-Feb-18 8:50:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_BrandId] ON [dbo].[NewAssets]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BrandId]    Script Date: 23-Feb-18 8:50:34 PM ******/
CREATE NONCLUSTERED INDEX [IX_BrandId] ON [dbo].[ProductCategories]
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ((0)) FOR [Registered]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [AssetApprove]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [BranchId]
GO
ALTER TABLE [dbo].[AssetLocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssetLocations_dbo.Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssetLocations] CHECK CONSTRAINT [FK_dbo.AssetLocations_dbo.Branches_BranchId]
GO
ALTER TABLE [dbo].[AssetRegistrationDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssetRegistrationDetails_dbo.AssetRegistrations_AssetRegistration_Id] FOREIGN KEY([AssetRegistration_Id])
REFERENCES [dbo].[AssetRegistrations] ([Id])
GO
ALTER TABLE [dbo].[AssetRegistrationDetails] CHECK CONSTRAINT [FK_dbo.AssetRegistrationDetails_dbo.AssetRegistrations_AssetRegistration_Id]
GO
ALTER TABLE [dbo].[Assets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Assets_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assets] CHECK CONSTRAINT [FK_dbo.Assets_dbo.Brands_BrandId]
GO
ALTER TABLE [dbo].[Branches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Branches_dbo.Organizations_OrganizationId] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organizations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Branches] CHECK CONSTRAINT [FK_dbo.Branches_dbo.Organizations_OrganizationId]
GO
ALTER TABLE [dbo].[Brands]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Brands_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Brands] CHECK CONSTRAINT [FK_dbo.Brands_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.GeneralCategories_GeneralCategoryId] FOREIGN KEY([GeneralCategoryId])
REFERENCES [dbo].[GeneralCategories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.GeneralCategories_GeneralCategoryId]
GO
ALTER TABLE [dbo].[NewAssets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.NewAssets_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewAssets] CHECK CONSTRAINT [FK_dbo.NewAssets_dbo.Brands_BrandId]
GO
ALTER TABLE [dbo].[ProductCategories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductCategories_dbo.Brands_BrandId] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductCategories] CHECK CONSTRAINT [FK_dbo.ProductCategories_dbo.Brands_BrandId]
GO
USE [master]
GO
